*.pyc
*.retry
*.swp

# collection files
freeipa-ansible_freeipa*.tar.gz
redhat-rhel_idm*.tar.gz
importer_result.json

# ignore virtual environments
/.tox/
/.venv/

# ignore Vagrant data
/.vagrant/
/tests/multihost/vagrant-ssh

tests/logs/
TEST*.xml
