---
ignore: |
  /.tox/
  /.venv/
  /.github/

extends: default

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  truthy:
    allowed-values: ["yes", "no", "true", "false", "True", "False"]
    level: error
  # Disabled rules
  document-start: disable
  indentation: disable
  line-length: disable
  colons: disable
  empty-lines: disable
  comments: disable
  comments-indentation: disable
  trailing-spaces: disable
  new-line-at-end-of-file: disable
