-r requirements-tests.txt
ipdb==0.13.4

# Pylint is directly used by ansible, so we pin versions to
# match the same version in Ansible's 'devel' branch 
pylint==2.17.0
wrapt == 1.15.0

# These are not directly used by ansible sanity tests, so,
# use the latest version available
yamllint
ansible-lint
pydocstyle
flake8
flake8-bugbear
pre-commit
