---
- name: Host member allow_create_keytab present
  hosts: ipaserver
  become: true

  tasks:
  - name: Host host1.example.com members allow_create_keytab present for users, groups, hosts and hostgroups
    ipahost:
      ipaadmin_password: MyPassword123
      name: host01.exmaple.com
      allow_create_keytab_user:
      - user01
      - user02
      allow_create_keytab_group:
      - group01
      - group02
      allow_create_keytab_host:
      - host02.exmaple.com
      - host03.exmaple.com
      allow_create_keytab_hostgroup:
      - hostgroup01
      - hostgroup02
      action: member
