---
- name: Playbook to handle users
  hosts: ipaserver
  become: true

  tasks:
  - name: Remove user pinky and brain
    ipauser:
      ipaadmin_password: MyPassword123
      name: pinky
      state: disabled
