---
- name: Playbook to manage IPA service.
  hosts: ipaserver
  become: true
  gather_facts: false

  tasks:
  # Ensure service is absent
  - ipaservice:
      ipaadmin_password: MyPassword123
      name: HTTP/www.example.com
      state: absent
