[Unit]
Description=Fix server IP in IPA Server
Wants=network.target
After=network.target
Before=ipa.service

[Service]
Type=oneshot
ExecStart=/root/fixnet.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=ipa.service
